/*
 #2c135f
 #ffc322
*/

[monospace] {
	font-family: monospace !important;
}

[bold] {
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
	word-wrap: break-word;
}

h1 {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}

h4 {
	opacity: .7;
	font-size: 14px;
	font-weight: 400;
}

h5 {
	opacity: .7;
	font-size: 14px;
}

h6 {
	font-size: 18px;
	font-weight: 700;
	color: #c7c7c7;
}

body {
	background: linear-gradient(52deg, #000000, #00518a);
	background-attachment: fixed;
	background-size: 100% 100%;
}

body { padding: 0px 32px 8px 16px; }

.container:not(:first-child) { 
	margin-top: 32px;
}
.container {
	width: 100%;
	max-width: 600px;
	min-width: 260px;
	border-radius: 3px;
	box-shadow: 0px 4px 16px -8px rgba(0,0,0,.25);
	border-top: thin solid #741212;
	padding: 8px;
	margin: 8px auto;
	background: #111;
}

	.container .sub {
		border-radius: 0px;
		border: thin solid #000;
		padding: 16px;
	}
	
	.container .sub:not(:first-child) {
		margin-top: 8px;
	}

#c_hero { box-shadow: none; margin-top: 64px; text-align: right }

#c_hero img { max-width: 300px; display: inline-block }

[highlight] { color: red !important; }

input[type="number"] {
	background: transparent;
	padding: 16px;
	border: none;
	border-bottom: 2px solid #ccc;
	font-size: 32px;
	width: 100%;
	color: #555;
	font-weight: 900;
	transition: border-color 1s;
	background-image: url("../img/trx.png");
	background-size: 48px 48px;
	background-position: right center;
	background-repeat: no-repeat;
}

input[type="number"]:focus {
	border-color: red;
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
	margin-top: 16px;
	border-radius: 2px;
	border: none;
	background: linear-gradient(22deg, #00518a, #002a48);
	width: 100%;
    max-width: 300px;
	padding: 8px 16px;
	font-size: 12px;
	font-weight: 700;
	color: white;
	outline: none;
}

button:hover { opacity: .8 }

td > button {
	font-size: 11px !important;
	padding: 8px 4px !important;
	margin: 0 !important;
	border-radius: 4px !important;
}

table {
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: thin solid #000;
	border-radius: 8px;
}
table thead th:first-child {
	border-top-left-radius: 2px;
}
table thead th:last-child {
	border-top-right-radius: 2px;
}
table tr:last-child td:first-child {
	border-bottom-left-radius: 2px;
}
table tr:last-child td:last-child {
	border-bottom-right-radius: 2px;
}
table, table > *, table > * > * {
	width: 100%;
}
th { height: 30px; background-color: #000}
td { height: 28px; border: thin solid #000; text-align: center; padding: 8px; vertical-align: middle }

